.tools-container {
  width: 100%;
  padding: 0 100px;
}
.tools-container > p {
  font-size: 36px;
  color: #f9a825;
  font-weight: 700;
}
.tools-img-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tool-item {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-right: 20px;
}
.tool-item > p {
  text-align: center;
  padding: 15px 5px;
  font-weight: bold;
  font-size: 20px;
}
.tool-img {
  height: 338px;
  border-radius: 7px;
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff0d8;
  padding: 20px;
}

.tool-img > img {
  width: 100%;
  height: 100%;
}
.cards > img {
  height: 70%;
}
@media screen and (max-width: 750px) {
  .tools-container {
    padding: 0;
  }
  .tools-container > p {
    text-align: center;
    font-size: 1.2em;
  }
  
  .tool-item {
    margin-right: 0;
    margin: 15px;
    align-items: center;
  }
  .tool-img {
    width: 70%;
  }
  .tool-img > img {
    width: 70%;
    height: auto;
  }
}
