.tools-container {
    width: 100%;
    padding: 0 100px;
}
.tools-container > p {
    font-size: 36px;
    color: #F9A825;
    font-weight: 700;
}
.tools-img-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tool-item {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: 20px;
}
.tool-item > p {
    text-align: center;
    padding: 15px 5px;
    font-weight: bold;
    font-size: 20px;
}
.tool-img {
    height: 295px;
    border-radius: 7px;
    width: 365px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF0D8;
}
.tool-img > img {
    background-color: blue;
    width: 50%;
    height: 50%;
}
@media screen and (max-width: 750px ) { 
    .tools-container {
        padding: 0;
    }
    .tools-container > p {
        border: 1px solid red;
        text-align: center;
    }
    .tool-item {
        margin-right: 0;
        margin: 15px
    }
}